#grad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
}

.header{
    border-radius:5px;
    border: 50% solid black;
    color: black;
    padding-top: 5px;
    margin-bottom:10px;
    text-align: center;
    font-family:"Playfair Display", serif;
    text-transform:uppercase;
  	line-height: 0.5em;
  	background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, orange, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, orange, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, orange, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, orange, yellow); /* Standard syntax */
  	opacity:0.8;
  	position:fixed;
  border-bottom: 1px solid #466995;
  overflow-y: auto;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  height:100px;
}

.content
{
    position:absolute;
    top: 100px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
    background-color: #FFF;
    margin: 40;
    padding: 10;
    border-left: 2px dashed gray;
    border-right: 2px dashed gray; 
}

.section_headline{
  color:black;
  font-family:"Playfair Display", serif;
  text-transform:uppercase;
  border-bottom: outset;
  margin-bottom: 1px;
  line-height:0.3px;
}

.section_subheadline{
  color: black;
  text-align:left;
  text-transform:uppercase;
  font-family:"Playfair Display", serif;
  font-style:italic;
  line-height:1em;
}

.titles{
    margin:0;
    padding:0;
    line-height:0;
    font-style:normal;
    text-transform:none;
}

.summary{
  text-align:left;
  color: black;
  font-family:"Playfair Display", serif;
  line-height: 1.2em;
}

ul{
    text-transform: none;
}

h{
    margin:0;
    padding:0;
    margin-top:20px;
    margin-bottom:10px;
}
