#header{
    border-radius:5px;
    border: 2px solid black;
    height:100px;
    width:300px;
    background-color:#469E38;
    opacity:0.2;
    align:center;
    color: #FFF;
    font-size: 32px;
    padding-top: 100px;
    text-align: center;
    font-family:"Playfair Display", serif;
    text-transform:uppercase;
}
